@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Questrial');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
  margin-left: 10%;
}

#logo {
  float: left;
  width: 20%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

header {
  float: left;
  width: 100%;
  border-bottom: 2px solid #CCCCCC;
}

h1 {
  float:left;
  font-family: 'Questrial', sans-serif;
  color: #144E45;
  font-size: 300%;
  width: 100%;
  text-align: center;
  padding-top: 5%;
}

.submit-button {
  -webkit-appearance: none;
  opacity: 0;
  float: left;
  width: 238px;
  height: 307px;
}

#image-block {
  float: left;
  width: 100%;
}

.image {
  float: left;
  width: 238px;
  height: 307px;
  margin-left: 12%;
  margin-top: 8%;
  border: 1px solid #144E45;
}

#image1, #image2, #image3{
  background-size: 100%;
}

table {
  width: 80%;
  float: left;
  margin-top: 10%;
  margin-bottom: 10%;
}

th {
  font-family: 'Questrial', sans-serif;
  color: #144E45;
  font-size: 120%;
  font-weight: bolder;
  text-align: center;
  padding: 1%;
  border-bottom: 1px solid #D3D4D5;
	border-top: none;
	border-right: none;
	border-left: none;
  background-color: #FFFFFF;
  vertical-align: middle;
  width: auto;
}

td {
  font-family: 'Questrial', sans-serif;
  color: #000000;
  text-align: center;
  padding: 1%;
  border-bottom: 1px solid #D3D4D5;
	border-top: none;
	border-right: none;
	border-left: none;
  vertical-align: middle;
  width: auto;
}

/*tr:nth-child(even) {
  background-color: #EFF3F7;
}
*/

#firstItem {
	text-align: left;
	font-weight: bolder;
	white-space: nowrap;
	color: #1E1D21;
}
